<%= form_for [@conversation] do |f| %>
  <h4 class="seperator"></h4>
  <hr>

  <p>
    <%= f.label "Email Address" %><span class="required_star">*</span><br>
    <p style="margin-left:10px"><i>You'll be sent a video chat link here before the scheduled call time</i></p> 
    <%= f.email_field :guest_email, required: true, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label "Scheduled Date" %><br>
    <%= f.text_field :start_time, class: 'form-control', readonly: true, value: date_str(@date) %>
  </p>
  
  <p>
    <%= f.label "Available Times" %><span class="required_star">*</span><br>
    <p style="margin-left:10px"><i>All Times represented in your timezone as selected below</i></p> 
    <%= select nil, :start_time_time_component, times_available(@date, @timezone), name: 'available-times', class: 'form-control' %>
  </p>
  
  <p>
    <%= label nil, "Your Time Zone" %><br>
    <%= time_zone_select nil, :conversation_timezone, ActiveSupport::TimeZone.us_zones, default: @timezone %>
  </p>
  
  <p>
    <%= f.label "Phone Number" %>
    <p style="margin-left:10px"><i>Want an text message reminder before the call?</i></p> 
    <%= f.phone_field :phonenumber, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label "Text Message Reminder" %>
    <%= f.select :reminder, reminder_times(@date), class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label "Message" %><br>
    <%= f.text_area :message, class: 'form-control' %>
  </p>

  <p style="margin-top:30px; padding-right:20px; padding-left:20px">
    <%= f.submit "Confirm", class: "btn btn-large btn-primary" %>
    <div style="margin-top:10px; margin-bottom:10px; padding-right:20px; padding-left:20px">
      <%= link_to "Back to Calendar", conversations_path, class: 'btn btn-large btn-primary', style: "width:100%" %>
    </div>
  </p>

<% end %>
