<h1>Conversation # <%= @conversation.id %></h1>

<p style="text-align:center">
<%= link_to 'Back to Schedule', conversations_path %>
</p>
<p style="text-align:center">
  <%= link_to 'Back to Admin Page', users_path_url(current_user) %>
</p>

<div class="outer_form_container">
  <div class="form_boundary">
    <div class="row center">
      <%= @conversation.start_time %>
    </div>
    <div class="row center">
      <%= @conversation.guest_email %>
    </div>
  </div>
  
  
  <p style="text-align:center">
  <%= link_to 'Delete', conversation_path(@conversation), method: :delete, 
    data: { confirm: 'Are you sure you want to remove the conversation from the schedule?' } %>
  </p>
</div>
